/.gradle/
/.kotlin/
/build/
/out/
/repo/
/run/
/run-*/
/src/generated/resources/
/docs/
/§b§lAllure Emoji Pack§r§0/
/assets/

/.idea/
/.fleet/
/.vscode/
*.iml
*.ipr
*.iws

*.class
*.log
*.jfr
*.hprof
hs_err_pid*
replay_pid*

.DS_Store
Thumbs.db
desktop.ini
